stages:
  - Hello World dubbo
jobs:
  include:
    - stage: Hello World dubbo
      go: 1.13
      script:
        - echo "Test Hello World dubbo ..."
        - docker run -d --network host zookeeper
        - echo "zookeeper listen in [:]2181"
        - PROJECT_HOME=$(pwd)
        - cd ${PROJECT_HOME}golang/helloworld/dubbo/go-server/
        - assembly/linux/dev.sh
        - cd target/*/*/
        - nohup bin/load.sh start > a.out&
        - cd ${PROJECT_HOME}/golang/helloworld/dubbo/go-client/
        - assembly/linux/dev.sh
        - cd target/*/*/
        - bin/load.sh start

