stages:
  - Test hello world
jobs:
  include:
    - stage: Test hello world
      name: "prepare env"
      script:
        - PROJECT_HOME=$(pwd)
        - docker run -d --network host zookeeper
        - echo "zookeeper listen in [:]2181"
        - cd ${PROJECT_HOME}/golang/helloworld/dubbo/go-server/
        - sudo chmod a+x -R *
        - ls -al
        - ./integration_test.sh go-server
        - nohup bin/load.sh start > a.out&
        - cd ${PROJECT_HOME}/golang/helloworld/dubbo/go-client/
        - sudo chmod a+x -R *
        - ls -al
        - ./integration_test.sh go-client
        - bin/load.sh start